@inject IUserService UserService
@inject NavigationManager nav
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override async Task OnInitializedAsync()
    {
        var user = await UserService.GetUserLoggedInAsync();
        if (user != null)
        {
            nav.NavigateTo("/Home", forceLoad: false); //True for epeleptik shok
        }
        else
        {
            nav.NavigateTo("/", forceLoad: false);

        }

    }
//Bemærk: forceload true før at det looper derudaf
//bemærk at med nav manager her så behøver ingen page at have det for kontrol om man er logget ind,
//Kun login page, den har det så også kun, så du sikre dig at forceload er true, så burgermenu kommer frem
//FAQ har det også så man kan gå til forsekllige pages fra de respektive faq,er
}